/* Header CSS */
.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-family: "Copperplate", fantasy;
  background-color: rosybrown;
  position: absolute;
  top: 0px;
  width: 99%;
  height: 10%;
}

.headerTitle {
  color: #515050;
}

.headerSubtitle {
  color: #2F523C;
}

/* Main CSS*/
.main {
  background-color: rgb(105, 105, 105);
  width: 99%;
  height: 80%;
  top: 10%;
  position: absolute;
}

.mainTitle {
  position: absolute;
  top: 50px;
  color: #2F523C;
  font-family: "Helvetica";
}

/* Footer CSS */
.footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-family: "Copperplate", fantasy;
  background-color: rosybrown;
  position: absolute;
  bottom: 0px;
  width: 99%;
  height: 10%;
}

.footerLeft {
  color: #515050;
}

.footerRight {
  color: #2F523C;
}


