/* About Us Component SASS */
.about-desc {
    max-width: 25em;
}

.about-container {
    grid-template-columns: (auto 30em);
    justify-content: space-around;
}

.about-title {
    text-align: center;
}

/* Survey SASS */
.survey-title {
    text-align: center;
}

.survey-body {
    justify-content: center;
}
