/* About Us Component SASS */

.about-desc {
    max-width: 500px;
}

.about-title {
    text-align: center;
}

.about-img {
    max-width: 30em;
}

/* Survey SASS */
.survey-title {
    text-align: center;
}

.survey-body {
    justify-content: center;
}
