/* Events Component SASS */

.events-carousel {
    margin: 10px;
}

.events-main {
    grid-template-columns: minmax(1em, 40em);
    grid-auto-rows: minmax(12em, auto);
}

.events-img {
    width: minmax(250px, auto);
    height: minmax(250px, auto);
}

.events-desc {
    margin-top: 3em;
    max-width: 450px;
}

.event-grid {
    grid-template-columns: minmax(250px, auto) 600px;
    grid-template-rows: auto;
}

.events-grid {
    grid-template-columns: minmax(250px, auto) 600px;
    grid-template-rows: auto;
    padding: 10px;
    max-width: 100px;
}

.fas {
    padding: 0px 10px 0px 0px;
    text-align: center;
}

.fas :hover {
    color: blue;
    cursor: pointer;
}

.events-bottom-grid {
    grid-template-columns: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
    grid-template-rows: minmax(100px, auto) minmax(100px, auto);
    justify-content: center;
    margin: 10px;
}

.add-info {
    padding: 15px;
    align-content: center;
    justify-content: center;
}
