/* Events Component SASS */
.events-carousel {
    margin: 10px;
}

.events-main {
    grid-template-columns: minmax(1em, 40em);
    grid-auto-rows: minmax(12em, auto);
}

.events-img {
    width: minmax(250px, auto);
    height: minmax(250px, auto);
}

.events-desc {
    max-width: 450px;
}

.events-grid {
    grid-template-columns: (750px, auto);
    padding: 10px;
}

.btm-grid {
    grid-template-columns: (100px, 100px);
    grid-template-rows: (50px, 50px);
}

.event-grid {
    align-items: center;
}

.fas {
    padding: (0 10px 0 0);
    text-align: center;
}

.events-bottom-grid {
    justify-content: center;
    margin: 10px;
}

.add-info {
    padding: 15px;
    align-content: center;
    justify-content: center;
}
