/* Events Component SASS */
.events-carousel {
    margin: 10px;
}

.events-main {

}

.events-img {
    width: minmax(250px, auto);
    height: minmax(250px, auto);
}

.events-desc {
    max-width: 450px;
}

.btm-grid {
    grid-template-columns: (100px, 100px);
    grid-template-rows: (50px, 50px);
}

.event-grid {
    align-items: center;
}

.fa-biohazard {
    text-align: center;
    margin-right: 10px;
}

.events-bottom-grid {
    justify-content: center;
    margin: 10px;
}

.add-info {
    padding: 15px;
    align-content: center;
    justify-content: center;
}
