/* COVID Banner*/
.fas {
    margin-left: 10px;
}

.banner-content {
    justify-content: start;
    align-items: center;
    grid-template-columns: 15px auto auto;
    grid-template-rows: 40px;
}

/* Header SASS */
.header {
    background-color: rgba(#d2edf6, .5);
}

.header-dropdowns {
    justify-content: flex-end;
}

/* Options Bubbles SASS*/
.mainOptions {
    padding: 10px;
    justify-content: space-evenly;
}

.mainOptionsContent {
    text-align: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 13px;
    padding-bottom: 20px;
}
 
/* Footer SASS */
.footer {
    background-image: url("../pictures/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    justify-content: center;
    grid-template: minmax(10px, auto) / auto auto auto;
    padding: 15px;
}

.footerMain {
    margin-top: auto;
}

/* Survey SASS */
.surveyTitle {
    text-align: center;
}

.surveyBody {
    grid-template-columns: 400px;
    grid-template-rows: auto;
    justify-content: center;
}

/* Main */
.main-img {
    width: 200em;
}

