/* COVID Banner*/
.fas {
    margin-left: .5em;
}

.banner-content {
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
}

.banner-link {
    margin-left: -.75em;
}

.banner-text {
    align-items: center;
}

/* Header SASS */
.header {
    background-color: rgba(#d2edf6, .5);
}

.header-img {
    border-radius: 25px;
}

.header-dropdowns {
    justify-content: flex-end;
}

/* Options Bubbles SASS*/
// .main-options {
// }

.main-options-content {
    text-align: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.main-divider {
    text-align: center;
}
 
/* Footer SASS */
.footer {
    background-color: rgba(#d2edf6, .5);
    justify-content: center;
    align-items: center;
}

/* Survey SASS */
.surveyTitle {
    text-align: center;
}

.surveyBody {
    justify-content: center;
}

/* Main */
.main-img {
    width: 200em;
}

